In [ ]:
import numpy as np
import pandas as pd
df = pd.read_csv('/content/heart_disease_data.csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [ ]:
df.shape

(303, 14)

In [ ]:
from sklearn.svm import LinearSVC
from sklearn.model_selection import train_test_split
np.random.seed(4)
X = df.drop('target',axis=1)
Y = df['target']
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.2)
clf = LinearSVC(max_iter=1000)
clf.fit(X_train,Y_train)
clf.score(X_test,Y_test)

/usr/local/lib/python3.9/dist-packages/sklearn/svm/_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

0.5573770491803278

In [ ]:
df['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

In [21]:
#RandomForestClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
np.random.seed(4)
X = df.drop('target',axis=1)
Y = df['target']
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.2)
clf = RandomForestClassifier(n_estimators = 100000)
clf.fit(X_train,Y_train)
clf.score(X_test,Y_test)

0.8852459016393442

1. If you have structured data, used ensemble methods
<br>
2. If you have unstructured data, use deep learning or transfer learning

Two ways to make predicions :

1. `predict()`<br>
2. `predict_proba()`

In [22]:
from sklearn.metrics import accuracy_score

In [23]:
y_preds = clf.predict(X_test)
np.mean(y_preds==Y_test)

0.8852459016393442

In [27]:
acc_score = accuracy_score(Y_test,y_preds)

In [28]:
print(acc_score)

0.8852459016393442

In [29]:
#Make predictions with predict_proba()
clf.predict_proba(X_test[:5])

array([[0.55879, 0.44121],
       [0.64104, 0.35896],
       [0.17568, 0.82432],
       [0.01519, 0.98481],
       [0.6065 , 0.3935 ]])

In [30]:
clf.predict(X_test[:5])

array([0, 0, 1, 1, 0])